// scss --watch scss:css to start
.container {
    width: 100%;
    text-align: center;
    .head-container {
        font-size: 3em;
    }

    .description {
        margin: 1em;
    }

    .log-in-container {
        background-color: #c7d4d4;
        display: inline-block;
        vertical-align: top;
        margin-right: 6px;
        width: 10em;
        padding: 3.5em 2em;

        .space {
            padding: 8px;
            margin: 4px;
        }
    }
    .profile-container {
        background-color: #c7d4d4;
        display: inline-block;
        margin-left: 6px;
        padding: 2.6em;

        .faction-container {
            text-align: left;
            padding-top: 3em;

        }
    }

}
